/* 全体のラッパー */
.purchase__content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    gap: 40px;
    font-family: 'Inter', sans-serif;
}

/* 左側カラム */
.purchase__left {
    flex: 1;
}

/* 商品画像と商品情報の横並びラッパー */
.purchase__product {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    margin-left: 80px;
}

/* 商品画像 */
.purchase__image img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

/* 商品名と価格 */
.purchase__info {
    font-family: Inter;
    display: flex;
    flex-direction: column;
}

.purchase__name {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.purchase__price {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* ラベル・セクション共通 */
.purchase__section {
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    margin-left: 80px;
}

.purchase__label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 50px;
}

/* セレクトボックス */
.purchase__select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin-left: 60px;
}

/* ラベルと「変更する」リンクを横並びに */
.purchase__label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* 配送先情報 */
.purchase__address {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 5px;
    margin-left: 60px;
}

.purchase__edit-link {
    display: inline-block;
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

/* 右側カラム */
.purchase__right {
    width: 320px;
    padding: 30px 20px;
    height: fit-content;
}

/* 注文概要 */
.purchase__summary {
    margin-bottom: 30px;
    border: 1px solid #000000;
    font-size: 20px;
}

.purchase__summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 24px;
    border-bottom: 1px solid #000000;
}

.purchase__summary-label {
    color: #000;
}

.purchase__summary-value {
    font-weight: bold;
    color: #000;
}

.purchase__summary-row:last-child {
    border-bottom: none;
    /* 最後の行だけ線を消す */
}

/* 購入ボタン */
.btn-purchase-submit {
    width: 100%;
    height: 60px;
    padding: 12px 0;
    font-size: 26px;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-purchase-submit:hover {
    background-color: #FF5555;
}